@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@theme {
  --font-family-tajawal: 'Tajawal', sans-serif;
  --font-family-cairo: 'Cairo', sans-serif;
}
